:root {
    --primary: #0092FF;
    --secondary: #ff6f00;
    --success: #05C91A;
    --error: #F90606;
    --white: #fafafa;
    --dark: #00101d;
}

.form {
    width: 350px;
}

label {
    color: var(--dark);
    font-size: 16px;
}

input {
    border: 1px solid var(--primary);
}

.form-group:hover label {
    font-weight: 600;
}