:root {
  --primary: #0092FF;
  --secondary: #ff6f00;
  --success: #05C91A;
  --error: #F90606;
  --white: #fafafa;
  --dark: #00101d;
}

.container {
  padding: 10px 2%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.heading {
  text-transform: capitalize;
  margin-top: 10px;
}


.grid {
  margin: 20px 0;
  width: 100%;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 40px;
}

.btn {
  background-color: var(--primary);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: capitalize;
  color: var(--white)
}